---
layout: base
---

<div class="grid grid--tight">
    <div class="grid__item md-w-1/2 bg-blue">
        <div class="box">
            <h4>Point de vente</h4>
            <p>
                Office du Tourisme de Sion<br>
                Place de la Planta<br>
            </p>
            <h4>Informations</h4>
            <p>
                Société des Amis de Valère<br>
                Rue des Châteaux 14<br>
                1950 Sion<br>
                amisdevalere@gmail.com<br>
                +41 27 606 46 82
            </p>
            <p>
                Mardi et Jeudi<br>
                11h-12h30
            </p>
        </div>
    </div>
    <div class="grid__item md-w-1/2 bg-orange">
        <form action="contact.php" method="POST" class="box grid">
            <div class="grid__item w-1/1">
                <label for="name">Nom et prénom</label>
                <input placeholder="Nom et prénom" id="name" name="name" type="text">
            </div>

            <div class="grid__item w-1/1">
                <label for="address">Adresse</label>
                <input placeholder="Adresse" id="address" name="address" type="text">
            </div>

            <div class="grid__item w-1/3">
                <label for="zipcode">Code postal</label>
                <input placeholder="Code postal" id="zipcode" name="zipcode" type="text">
            </div>

            <div class="grid__item w-2/3">
                <label for="city">Ville</label>
                <input placeholder="Ville" id="city" name="city" type="text">
            </div>

            <div class="grid__item w-1/1">
                <label for="email">E-mail</label>
                <input placeholder="E-mail" id="email" name="email" type="email">
            </div>

            <div class="grid__item w-1/1">
                <label for="reason">Sujet</label>
                <select id="reason" name="reason">
                    <option value="none">Veuillez choisir un sujet</option>
                    <option value="information">Demande d'informations</option>
                    <option value="commande">Commande</option>
                    <option value="autre">Autre</option>
                </select>
            </div>

            <div class="grid__item md-w-1/1">
                <label for="message">Message</label>
                <textarea placeholder="Votre message" id="message" name="message"></textarea>
            </div>

            <div class="grid__item w-1/1 form__conditions">
                <div class="form__checkbox">
                    <input id="conditions" name="conditions" type="checkbox">
                    <label for="conditions">&nbsp;</label>
                </div>
                <label for="conditions">J'accepte les conditions générales de ventes</label>
            </div>

            <div class="grid__item md-w-1/1">
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </div>

</div>

<div class="w-1/1 mrgt++">
    <ul class="map-index">
        {% assign partners = site.partners %}
        {% for partner in partners %}
            <li>
                <a href="{{ '/offres' | absolute_url }}#{{ partner.slug }}">
                    <span class="map-index__number">{{ partner.map_index | default:forloop.index }}</span>
                    {{ partner.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <img class="cover-image" src="{{ '/files/carte.jpg' | absolute_url }}">
</div>

<div class="grid grid--multiline grid--even grid--tight mrgt++">
    {% assign rules = site.rules %}
    {% for rule in rules %}
    <div class="grid__item lg-w-1/2">
        <div class="box bg-{%cycle 'orange', 'blue', 'blue', 'orange' %}">
            <h3>{{ rule.title }}</h3>
            {{ rule.content }}
        </div>
    </div>
    {% endfor %}
</div>
