---
layout: base
---
{% assign partners = site.partners %}
{% for partner in partners %}
    {% include partner.html partner=partner %}
{% endfor %}

<article class="sponsors">
    <header>
        <h1>Merci à nos précieux soutiens</h1>
    </header>

    <div class="grid grid--middle">
        <div class="grid__item w-1/2 sm-w-1/4">
            <img src="{{ '/files/sponsor/tourbillon.png' | absolute_url }}" alt="Fondation Château de Tourbillon">
        </div>
        <div class="grid__item w-1/2 sm-w-1/4">
            <a href="http://www.sion.ch/">
                <img src="{{ '/files/sponsor/sion.png' | absolute_url }}" alt="Ville de Sion">
            </a>
        </div>
        <div class="grid__item w-1/2 sm-w-1/4">
            <a href="http://www.bourgeoisie-de-sion.ch/">
                <img src="{{ '/files/sponsor/bourgeoisie.png' | absolute_url }}" alt="Bourgeoisie de Sion">

            </a>
        </div>
        <div class="grid__item w-1/2 sm-w-1/4">
            <a href="http://siontourisme.ch">
                <img src="{{ '/files/sponsor/tourisme.png' | absolute_url }}" alt="Office du tourisme">
            </a>
        </div>
    </div>
</article>
