---
layout: base
---
{% assign partners = site.partners %}
{% for partner in partners %}
    {% include partner.html partner=partner %}
{% endfor %}

<article class="sponsors">
    <header>
        <h1>Merci à nos précieux soutiens</h1>
    </header>

    <div class="grid">
        <div class="grid__item w-1/3">
            <img src="https://picsum.photos/g/40/40?blur" alt="Fondation Château de Tourbillon">
        </div>
        <div class="grid__item w-1/3">
            <img src="https://picsum.photos/g/40/40?blur" alt="Ville de Sion">
        </div>
        <div class="grid__item w-1/3">
            <img src="https://picsum.photos/g/40/40?blur" alt="Bourgeoisie de Sion">
        </div>
    </div>
</article>
