<article class="grid grid--tight partner">
    <div class="partner__content grid__item w-1/1 md-w-1/2">
        <div class="box bg-{%cycle 'orange', 'blue' %}">
            <header>
                <h1>{{ partner.title }}</h1>
            </header>
            {{ partner.content }}

            <div class="partner-info">
                <p class="partner-info__benefit">{{ partner.benefit }}</p>
                <p class="partner-info__detail">{{ partner.condition }}</p>
                <p class="partner-info__detail">(Valeur: {{ partner.value }})</p>
            </div>

            <p class="partner__link">
                <a href="http://{{ partner.link }}">{{ partner.link }}</a>
            </p>
        </div>
    </div>

    <div class="partner__image grid__item w-1/1 md-w-1/2">
        <img class="cover-image" src="https://picsum.photos/g/598/{% cycle '350', '598', '700' %}?blur" alt="{{ partner.title }}">
    </div>
</article>
