<!DOCTYPE HTML>
<html class="no-js" lang="fr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#" itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% seo %}

    <meta property="og:type" content="business.business" />

    <meta property="business:contact_data:street_address" content="{{ site.street }}" />
    <meta property="business:contact_data:locality" content="{{ site.city }}" />
    <meta property="business:contact_data:postal_code" content="{{ site.zip }}" />
    <meta property="business:contact_data:country_name" content="{{ site.country }}" />
    <meta property="place:location:latitude" content="{{ site.latitude }}" />
    <meta property="place:location:longitude" content="{{ site.longitude }}" />

    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="{{ '/styles/main.css' | absolute_url }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <link href="{{ '/styles/print.css' | absolute_url }}?{{site.time | date: '%s%N'}}" rel="stylesheet" media="print">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="msapplication-navbutton-color" content="#FAA829">
    <meta name="theme-color" content="#FAA829">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FAA829">
</head>

<body data-baseurl="{{ '' | absolute_url }}">
    <script type="text/javascript">
        var github_url = 'https://studioandco.github.io/';
        var current = window.location.href;
        if(current.indexOf(github_url) === 0) {
            window.location.href = current.replace(github_url, '{{ site.url }}/{{ page.url }}');
        }
    </script>

    <header>
        <h1>{{ page.title }}</h1>

        <nav class="container">
            <div class="grid">
                <div class="w-1/3">
                    <a href="{{ '/' | absolute_url }}" class="home">
                        <svg class="ico ico--clef">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/files/clef.svg' | absolute_url }}#clef"></use>
                        </svg>
                        <svg class="ico ico--logo">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/files/logo.svg' | absolute_url }}#logo"></use>
                        </svg>

                        <span>Le Pass Murailles</span>
                    </a>
                </div>
                <div class="w-1/3">
                    <div class="dropdown bg-orange">
                        <a class="dropdown__title" href="{{ '/offres' | absolute_url }}">Offres</a>
                        <ul class="dropdown__menu">
                            {% assign partners = site.partners %}
                            {% for partner in partners %}
                                <li><a href="{{ '/offres' | absolute_url }}#{{ partner.slug }}">{{ partner.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="w-1/3">
                    <a class="bg-blue" href="{{ '/contact' | absolute_url }}">Contact / Commandes</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {{ content }}
    </div>

    <footer>
        <div class="bg-blue centered">
            <address>
                {{ site.title }}<br>
                {{ site.street }}<br>
                {{ site.zip }} {{ site.city }}<br>
                {{ site.state }} - {{ site.country }}<br>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </address>
            <p class="andco">Réalisation du site Internet par le <a href="https://andco.ch">Studio ANDco</a></p>
        </div>
    </footer>

    <script type="text/javascript" src="{{ '/javascripts/main.js' | absolute_url }}?{{site.time | date: '%s%N'}}"></script>
    <script src="{{ '/javascripts/zoom.js' | absolute_url }}?{{site.time | date: '%s%N'}}" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js" defer></script>
    <script type="text/javascript">
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create', '{{ site.ga }}', 'auto');ga('send', 'pageview');
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
